src/cellsociety/config/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Simulation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ConfigInfo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Title" type="xs:string" />
                            <xs:element name="Author" type="xs:string" />
                            <xs:element name="Shape" type="xs:string" />
                            <xs:element name="Dimensions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Width" type="xs:unsignedByte" />
                                        <xs:element name="Height" type="xs:unsignedByte" />
                                        <xs:element name="Speed" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SpecialParameters">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:decimal">
                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="States">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Default" type="xs:unsignedByte" />
                                        <xs:element maxOccurs="unbounded" name="State">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ID" type="xs:unsignedByte" />
                                                    <xs:element name="Color" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Custom" type="xs:boolean" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Cells">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Cell" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="numbr" type="xs:unsignedByte" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>